
<!-- <div id="header"></div> -->
<nav class="navbar st-navbar navbar-default navbar-fixed-top"> 
    <div class="container-fluid"> 
        <div class="navbar-header">
        <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span> 
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
      </button> 
        <a href="#" class="navbar-brand companyNameHeading">
            
            <span class="glyphicon glyphicon-home"></span>
            <span class="companyName" href="#header"> Birchwood Estates West </span>

        </a> 
        <div class="collapsedNameHeading">
            <span class="glyphicon glyphicon-home"></span> 
            <span class="collapsedCompanyName" href="#header"> BE West </span>
        </div>


        </div> 
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6"> 
        <ul class="nav navbar-nav pull-right"> 
                <li><a ng-href="#header">Home</a></li>
                <li><a ng-href="#aboutUsSummary">About Us</a></li>
                <li><a ng-href="#location">Location</a></li>

                <li><a ng-href="#availableProperties">Properties</a></li>

                <li><a ng-href="#contactUs">Contact Us</a></li>
  <!--               <li><a data-toggle="modal" data-target="#myModal" ng-click="loginSubmit()" >Log in</a></li> -->
        </ul> 
        </div> 
    </div> 
</nav>


<!-- SLIDER -->
<section id="slider">
    <div id="home-carousel" class="carousel slide" data-ride="carousel">            
        <div class="carousel-inner">

            <div class="item active" style="background-image: url(assets/images/slider/ClaytonKitchen.jpg)">               
            </div>

            <div class="item" style="background-image: url(assets/images/slider/MasterBath.jpg)">

            </div>
            <div class="item" style="background-image: url(assets/images/slider/ExteriorWithPorch.jpg)">            
            </div>

            <div class="item" style="background-image: url(assets/images/slider/stainlessAppliances.jpg)">            
            </div>

            <div class="item" style="background-image: url(assets/images/slider/ClaytonPatriotKitchen&Living.jpg)">            
            </div>

            <a class="home-carousel-left" href="#home-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
            <a class="home-carousel-right" href="#home-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>

        </div>      
    </div> <!--/#home-carousel--> 
</section>


<!-- /ABOUT US -->

<section id="aboutUsSummary" name="aboutUsSummary" class="sectionPanel">
    <div class="container">

        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="section-title">

                    <h1>About Us</h1>

                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12 col-lg-12">
                <div id="aboutUsParagraph">
                    <p> Birchwood Estates West is a premier manufactured home community located in Fort Gratiot, MI. The community which has been locally owned and managed since 2002 offers residents affordable, low maintenance living without compromising quality. 
                        <br> <br>

                        <p> We work with our customers to find them the perfect home that fits their lifestyle. We have relationships with multiple manufacturers, offering numerous options at competitive pricing. From the ordering process to the delivery and set-up, we work closely with our customers to ensure their home purchasing process is great.  
                        </p>

                    </div>
                </div>  
            </div>
        </section>
        <!-- community features -->

        <section id="communityFeatures" class="sectionPanel">

            <div class="panel-collapse container communityFeatures collapse">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="section-title">
                            <h1>Community Features</h1>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4 col-sm-4 st-service aboutUsIcon">

                        <span class="fa-stack fa-lg" ">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                      </span>
                  </div>

                  <div class="col-md-4 col-sm-4 st-service aboutUsIcon">

                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                  </span>
              </div>
              <div class="col-md-4 col-sm-4 st-service aboutUsIcon">

                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
              </span>
          </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 st-service aboutUsCaption">
            <h2> Quiet</h2>
            <p> Tucked back behind retail space and surrounded by nature, this community offers a quiet, relaxing environment for residents</p>
        </div>

        <div class="col-md-4 col-sm-4 st-service aboutUsCaption"> 
            <h2> Low Maintenance</h2>
            <p> Management takes care of lawn maintenance, snow removal and garbage so less headaches for residents! </p>
        </div>

        <div class="col-md-4 col-sm-4 st-service aboutUsCaption">
            <h2> Controlled Fees</h2>
            <p>Lot fees are set at $295/month and are ONLY adjusted based on cost of living changes</p>
        </div>   
    </div>

    <div class="row">

        <div class="col-md-4 col-sm-4 st-service aboutUsIcon">

            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-diamond fa-stack-1x fa-inverse"></i>
          </span>
      </div>
      <div class="col-md-4 col-sm-4 st-service aboutUsIcon">

        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
      </span>
  </div>
  <div class="col-md-4 col-sm-4 st-service aboutUsIcon">

    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-location-arrow fa-stack-1x fa-inverse"></i>
  </span>
</div>

</div> 


<div class="row">

    <div class="col-md-4 col-sm-4 st-service aboutUsCaption">
        <h2> Aesthetic Upgrades</h2>
        <p>Homes are newer than 2001, have attached garages, block skirting and sit on large lots. </p>
    </div>

    <div class="col-md-4 col-sm-4 st-service aboutUsCaption">
        <h2> Custom Options </h2>
        <p>You can custom order your home. Choose your interior and exterior features and which lot it sits on. </p>
    </div>

    <div class="col-md-4 col-sm-4 st-service aboutUsCaption">
        <h2> Convenient Location </h2>
        <p> Within minutes of shopping, restaruants and medical facilities </p>
    </div>
</div>

</div> <!-- end container -->

<div class="panel-collapse container communityFeaturesCollapsed collapse">

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="section-title">
                <h1>Community Features</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 st-service aboutUsIcon">

            <span class="fa-stack fa-lg" ">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-users fa-stack-1x fa-inverse"></i>
          </span>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 st-service aboutUsCaption">
        <h2> Quiet</h2>
        <p> Tucked back behind retail space and surrounded by nature, this community offers a quiet, relaxing environment for residents</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 st-service aboutUsIcon">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
      </span>
  </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 st-service aboutUsCaption"> 
        <h2> Low Maintenance</h2>
        <p> Management takes care of lawn maintenance, snow removal and garbage so less headaches for residents! </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 st-service aboutUsIcon">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
      </span>
  </div>
</div>


<div class="row">
    <div class="col-md-12 col-sm-12 st-service aboutUsCaption">
        <h2> Controlled Fees</h2>
        <p>Lot fees are set at $295/month and are ONLY adjusted based on cost of living changes</p>
    </div>   
</div>

<div class="row">

    <div class="col-md-12 col-sm-12 st-service aboutUsIcon">

        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-diamond fa-stack-1x fa-inverse"></i>
      </span>
  </div>
</div>

<div class="row">

    <div class="col-md-12 col-sm-12 st-service aboutUsCaption">
        <h2> Aesthetic Upgrades</h2>
        <p>Homes are newer than 2001, have attached garages, block skirting and sit on large lots. </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 st-service aboutUsIcon">

        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
      </span>
  </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 st-service aboutUsCaption">
        <h2> Custom Options </h2>
        <p>You can custom order your home. Choose your interior and exterior features and which lot it sits on. </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 st-service aboutUsIcon">

        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-location-arrow fa-stack-1x fa-inverse"></i>
      </span>
  </div>
</div>


<div class="row">
    <div class="col-md-12 col-sm-12 st-service aboutUsCaption">
        <h2> Convenient Location </h2>
        <p> Within minutes of shopping, restaruants and medical facilities </p>
    </div>
</div>

</div>

</section>


<section id="location" name="location" class="sectionPanel">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h1>Location</h1>
                </div>

            </div>
        </div>

        <div class="row">

            <div class="col-lg-7 col-md-7 col-sm-7">
                <div id="googleMap" style="width:100%;height:380px;"></div>
            </div>


            <div class="col-lg-5 col-md-5 col-sm-5">
                <h2> Birchwood Estates West </h2>

                <div class="row" style=" white-space: nowrap ;">
                    <div class="col-lg-1 col-md-1 col-sm-1">
                        <i class="fa fa-map-marker"></i>
                    </div>

                    <div class="col-lg-11 col-md-11 col-sm-11">
                        <p> 3211 Keewahdin Road <br> Fort Gratiot, MI 48059 </p> 
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">

                        <h2> Location Highlights </h2>

                        <ul>
                            <li> Walking distance to Birchwood Mall and restaurants</li>
                            <li> 1.2 miles from the nearest grocery store and pharmacy </li>
                            <li> Minutes from medical facilities </li>
                            <li> Easy access to I-94, I-69 and the Bluewater Bridge</li>
                        </ul>
                        <br>

                    </div>
                </div>
            </div>
        </div>


    </div>
</section>

<!-- /LOCATION -->

<!-- Available Properties-->
<section id="availableProperties" name="availableProperties">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h1>Properties</h1>
                </div>
            </div>
        </div>

        <div class="row propertyDetails">
            <div class="col-md-6 col-sm-6 propertyDisplayPhoto">
                <img src="assets/images/properties/garfield/ClaytonKitchen.jpg" alt="" data-toggle="modal" data-target=".property1Modal">
            </div>


            <div class="col-md-6 col-sm-6 propertyDisplayDetails">
                <div class="propertyPrimeDetails">
                    <div class="propertyName"> Clayton Garfield </div>
                    <div class="propertyType"> Custom Order </div>
                    <div class="propertyPrice"> Starting at $ </div>
                </div>
                <div class="row propertyDetailsTable"> 
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <h2> 1404</h2>
                        <p> Square Feet </p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <h2> 2-3 </h2>
                        <p>  bedrooms </p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <h2> 2 </h2>
                        <p>  bathrooms </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <p> The Garfield home features an open floorplan with a kitchen island, entertainment unit, covered porch, utility room, double sinks in bathroom and separate tub and shower. This floorplan can be customized to your liking. Contact us today to learn more about the exterior and interior options for this floorplan.  </p> 
                    </div>
                </div>
            </div>
        </div>

        <div class="row propertyDetails">
            <div class="col-md-6 col-sm-6 propertyDisplayPhoto">
                <img src="assets/images/properties/patriot/PatriotLiving.jpg" alt="">
            </div>
            <div class="col-md-6  col-sm-6 propertyDisplayDetails">
                <div class="propertyName"> Clayton Patriot </div>
                <div class="propertyType"> Custom Order </div>
                <div class="propertyPrice"> Starting at $ </div>
                <div class="row"> 
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <h2> 1484</h2>
                        <p> square feet </p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <h2> 3 </h2>
                        <p> square feet </p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <h2> 2 </h2>
                        <p> square feet </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <p> The Patriot home features an open floorplan with split Bedrooms, entry foyer, a kitchen island, entertainment unit,  utility room, double sinks in bathroom and separate tub and shower. This floorplan can be customized to your liking. Contact us today to learn more about the ecterior and interior options for this floorplan.  </p> 
                    </div>
                </div>
            </div>
        </div>




        <div class="customHomeNote">             
            <p>Birchwood Estates West has relationships with multiple manufacturers to offer you a wide selection on your next home. Please contact us today for a full list of layouts and options.  </p>       
        </div>


    </div> <!-- close out container -->
</section> <!-- close out available properties -->


<!-- CONTACT US-->
<section id="contactUs" name="contactUs">
    <div class="container">
        <div class="row" >
            <div class="col-md-12">
                <div class="section-title">
                    <h1>Contact us</h1>
                </div>
            </div>



            <div class="row">
                <div class="col-sm-6 col-md-6" id="contactInfo">
                    <div class="row" >
                        <div class="col-sm-11 col-sm-11 col-sm-offset-1">
                         <h2 class="st-address" style="font-size:22px"> <strong>Birchwood Estates West </strong></h2>
                     </div>
                 </div>
                 <div class="row">
                    <div class="col-sm-1 col-sm-offset-1">
                        <i class="fa fa-mobile" style="font-size:22px;"></i> 
                    </div>
                    <div class="col-sm-10">
                        <p class="st-phone"><strong>810-531-3054 </strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1 col-sm-offset-1">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                    <div class="col-sm-10"> 
                        <p class="st-email"><strong>BirchwoodEstatesWest@yahoo.com</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1 col-sm-offset-1">
                        <i class="fa fa-globe"></i> 
                    </div>
                    <div class="col-sm-10">
                        <p class="st-website"><strong>www.Birchwood-Estates-West.com</strong></p>
                    </div>
                </div>


            </div>




            <div class="col-sm-6">

                <form id="myform" class="contact-form" >
                    <label>Contact Name</label>
                    <input type="text" name="contactName" ng-model="contactUsForm.contactName"/>
                    <label>Message</label>
                    <input type="text" name="message_html" ng-model="contactUsForm.contactMessageBody"/>
                    <label>Phone</label>
                    <input type="text" name="contactPhone" ng-model="contactUsForm.contactPhone"/>
                    <label>Contact Email</label>
                    <input type="text" name="contactEmail" ng-model="contactUsForm.contactEmail"/>
                    <br><br>
                    <button  ng-click="sendEmail()" class="btn btn-send"> Submit </button>
                </form>

            </div>
        </div>
    </div>
</div>
</section>
<!-- /CONTACT -->


<!-- FOOTER -->
<footer id="footer">
    <div class="container">
        <div class="row"> 
            <div class="col-sm-12 copyright">
                <a href="#header" ng-click="goToTop()">Birchwood Estates West. All Rights Reserved. </a>
            </div>
        </div>
    </div>
</footer>
<!-- /FOOTER -->


<!-- Scroll-up -->
<div class="scroll-up">
    <ul><li><a ng-click="goToTop()"><i class="fa fa-angle-up"></i></a></li></ul>
</div>



<!-- all my modals -->

<!-- login Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Birchwood Estates West</h4>
    </div>
    <div class="modal-body" >

        <!-- <div class="container"> -->
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
                <div class="account-wall">
                   <h1 class="text-center login-title">Sign in </h1> <br>

                   <form class="form-signin">
                    <input ng-model="txtEmail" type="text" class="form-control" placeholder="Email" required autofocus>
                    <input ng-model="txtPassword" type="password" class="form-control" placeholder="Password" required>
                    <button id="btnLogin" class="btn btn-lg btn-primary btn-block" type="submit" data-dismiss="modal" ng-click="signIn()">
                        Sign in</button>
                        <div class="rememberMe">
                            <label class="checkbox pull-left">
                                <input type="checkbox" value="remember-me">
                                Remember me
                            </label>
                        </div>
                        <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<!-- property 1 image modal -->

<div class="modal fade property1Modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">



          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
             <img class="img-responsive" src="assets/images/properties/garfield/ClaytonKitchen.jpg" alt="...">
             <div class="carousel-caption">
                Kitchen
            </div>
        </div>
        <div class="item">
          <img class="img-responsive" src="assets/images/properties/garfield/GarfieldBath.jpg" alt="...">
          <div class="carousel-caption">
            Bathroom
        </div>
    </div>
    <div class="item">
      <img class="img-responsive" src="assets/images/properties/garfield/GarfieldLiving.jpg" alt="...">
      <div class="carousel-caption">
        Living Area
    </div>
</div>
<div class="item">
  <img class="img-responsive" src="assets/images/properties/garfield/GarfieldExterior.jpg" alt="...">
  <div class="carousel-caption">
    Exterior
</div>
</div>
<div class="item">
  <img class="img-responsive" src="assets/images/properties/garfield/garfieldFloorPlan.jpg" alt="...">
  <div class="carousel-caption">
   Floor Plans
</div>
</div>
</div>

<!-- Controls -->
<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
</a>
</div>
</div>
</div>
</div>
</div>



<!--      <div class="modal fade" id="property1Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Clayton Garfield</h4>
          </div>
          <div class="modal-body">
            

            <div id="property1-carousel" class="carousel slide" data-ride="carousel">            
                <div class="carousel-inner">
                    
                    <div class="item active" style="background-image: url(assets/images/properties/garfield/ClaytonKitchen.jpg)">               
                    </div>

                    <div class="item active" style="background-image: url(assets/images/properties/garfield/GarfieldBath.jpg)">               
                    </div>

                    <div class="item active" style="background-image: url(assets/images/properties/garfield/GarfieldExterior.jpg)">               
                    </div>

                    <div class="item active" style="background-image: url(assets/images/properties/garfield/GarfieldLiving.jpg)">               
                    </div>

                    <div class="item active" style="background-image: url(assets/images/properties/garfield/garfieldFloorPlan.jpg)">               
                    </div>

                    <a class="home-carousel-left" href="#home-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                    <a class="home-carousel-right" href="#home-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>

                </div>      
            </div> 
 

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
  </div> -->
